#main-content {
    background-color: #e5e7eb;
    height: 100%;
    min-width: 800px;

    /* Descendants: */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#main-content:focus {
    outline: none;
}

#main-content > section {
    background-color: #FFFFFF;
    flex: 1;
    margin-right: 15px;
}

#dcf-info-section {
    border-radius: 10px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#val-fin-section {
    border-radius: 0px 0px 0px 10px;
    margin-bottom: 15px;
}

#dcf-definition-section {
    margin-top: 5px;
}

#dcf-explanation-section {
    padding-bottom: 15px;
}

#dcf-definition-section > h1,
#dcf-explanation-section > h1 {
    font-size: 1.25rem;
}

#dcf-definition-section,
#dcf-explanation-section {
    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#company-info-section {
    margin-top: 15px;
}


#search-section,
#company-details > div,
#company-details h1 {
    /* Descendants: */
    display: flex;
}

#search-section {
    background-color: #4648aa;
    border-radius: 10px 0px 0px 10px;
    height: 55px;
    gap: 25px;
}

#search-box {
    background-color: #e5e7eb;
    border-color: #4648aa;
    border-radius: 10px;
    border-width: 1px;
    height: 100%;
    width: 220px;

    /* Text Content */
    padding-left: 7px;
    font-size: 1.1rem;
}

#search-box:focus {
    outline: none;
}

/* Containers with ticker, co. name, sector and industry */
#company-details > div {
    gap: 15px; 
}

#company-details h1 {
    color: #e5e7eb;
}

#overview-section {
    padding: 10px;
}

#overview-description {
    margin: 15px 0px;
}

#overview-finacials {
    /* Descendants */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#overview-top-row,
#overview-bot-row {
    /* Descendants */
    display: flex;
    gap: 10px;
}

#overview-top-row > div,
#overview-bot-row > div {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    height: 35px;
    padding: 5px;

    /* Descendants */
    display: flex;
    align-items: center;
    gap: 5px;
}

#overview-top-row > div > h3:first-of-type,
#overview-bot-row > div > h3:first-of-type {
    align-self: center;
    color: #617d98;
    font-size: 0.8rem;
}

#overview-top-row > div > h3:nth-child(2),
#overview-bot-row > div > h3:nth-child(2)  {
    align-self: center;
    font-size: 0.9rem;
}

#overview-top-row > div > h4:first-of-type {
    color: 	#18a22d; 
    margin-left: -5px;
}

#overview-bot-row > div > h4:first-of-type {
    color: #4648aa;
    margin-left: -5px;
}

#val-fin-headings {
    border-color:  #e5e7eb;
    border-style: solid none solid none;
    border-width: 1px;
    height: 40px;
    margin-bottom: 15px;
    padding: 4px 0px;
    /* Headings */
    display: flex;
    gap: 10px;
    justify-content: center;
}

.val-fin-heading {
    cursor: pointer;

    /* Text Inside Headings */
    display: flex;
    align-items: center;
    padding: 0px 3px;
}

.active-heading {
    background-color: #4648aa;
    border-radius: 3px;
    color: #FFFFFF;
}

#projections-headings {
    background-color: #e5e7eb;
    margin: 0px 0px 10px 10px;


    /* Headings */
    display: flex;
    gap: 10px;
}

.projection-heading {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: normal;
}

.active-projection {
    border-bottom-style: solid;
    border-color: #4648aa;
    border-width: 2px;
}

#valuation-status {
    margin-left: 10px;
}

#under,
.currency {
    color: #18a22d;
}

#over {
    color: red;
}

#financial-btns-container {
    margin-left: 10px;
    margin-bottom: 20px;
    /* Buttons */
    display: flex;
    gap: 5px;
}

#financial-btns-container button {
    background-color: #f3f3fd;
    border-color:  #e5e7eb;
    border-radius: 3px;
    border-style: none;
    border-width: 1px;
    cursor: pointer;
    height: 30px;
    width: 150px;

    /* Text Inside Btns */
    display: flex;
    align-items: center;
    justify-content: center;
}

#financial-btns-container button:hover {
    background-color: #4648aa;
    color: #FFFFFF;
}

.down-arrowhead {
    margin-left: 4px;
    position: relative;
    top: -4px;
}

#totals-message {
    background-color: #f6c5c1;
    border-color:  #EF0107;
    border-radius: 3px;
    border-left-style: solid;
    border-width: 4px;
    margin-left: 10px;
    padding-left: 10px;
    width: 850px;
}

.dropdown-section {
    position: relative;
}

#periods-dropdown {
    background-color: #f3f3fd;
    border-color: #4648aa;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 33px;
    width: 150px;
}

.period:hover {
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4648aa;
    width: 100%;
}

#receivables-question {
    cursor: pointer;
    position: relative;
}

#receivables-explainer {
    background-color: #f3f3fd;
    border-color: #4648aa;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
    position: absolute;
    top: -150px;
    width: 250px;
}