#main-content {
    background-color: #e5e7eb;
    height: 100%;

    /* Descendants: */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#main-content > section {
    background-color: #FFFFFF;
    flex: 1;
    margin-right: 15px;
}

#dcf-info-section {
    border-radius: 10px;
    margin-top: 15px;
    padding-left: 10px;


    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#val-fin-section {
    border-radius: 0px 0px 0px 10px;
    margin-bottom: 15px;
}

#dcf-definition-section {
    margin-top: 5px;
}

#dcf-explanation-section {
    padding-bottom: 15px;
}

#dcf-definition-section > h1,
#dcf-explanation-section > h1 {
    font-size: 1.25rem;
}

#dcf-definition-section,
#dcf-explanation-section {
    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#company-info-section {
    margin-top: 15px;
}