:root {
  font-size: 16px;
  --font-family: 'Helvetica Neue Light', 'Nimbus Sans Regular', sans-serif,
    system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; 
  width: 100vw;

  /* Descendants: */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6vh 90vh 4vh;
}

#content-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;

  /* Descendants: */
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: 1fr;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url(../interface-logic/assets/fonts/helveticaneuelight-webfont.woff2),
    url(../interface-logic/assets/fonts/helveticaneuelight-webfont.woff);
}

@font-face {
  font-family: 'Nimbus Sans Regular';
  src: url(../interface-logic/assets/fonts/nimbussanl-reg-webfont.woff2),
    url(../interface-logic/assets/fonts/nimbussanl-reg-webfont.woff);
}

footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

header {
  background-color: #4648aa;
  color: #fff;
  font-size: 2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  /* Text: */
  display: flex;
  align-items: center;
  padding-left: 15px;
}

